@import url('https://fonts.googleapis.com/css?family=Gotu:100,200,300,400,500,600,700|Roboto&display=swap:100,200,300,400,500,600,700');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: url(images/nihal-demirci-0ME-BIUBmUs-unsplash.jpg) no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	box-sizing: border-box;
	height: flex;
}

/*--------------------------cv-page nav---*/
#home-page {
	padding: 2em 1.5em;
	background-color: rgba(25, 25, 25, 0.05);
}

.cv-item {
	font-family: gotu, sans-serif;
	font-size: 1.5em;
	padding-left: 6em;
}


.c {
	color: antiquewhite;
}

.b {
	color: black;
}

/*--------------------------cv-page content---*/

.presentation-page {}

.presentation-title {
	padding: 19em 9em 11em 5em;
}

h1,
h2,
h3 {
	font-family: gotu, sans-serif;
}

h1 {
	font-weight: 600;
}

/*--------------------------about-page content---*/
.about-content-page {
	background-color: dimgrey;

}

.about-content-page img {
	height: flex;
	width: 100%;
	padding: 0.5em 0.5em;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.info-item-title {
	text-align: center;
	padding: 0.5em 0.5em;
}

.key,
.value {
	display: inline-block;
	font-family: gotu, sans-serif;
	padding: 1em;

}

.key,
.key1 {
	font-weight: 600;
}

.value,
.value1 {
	font-weight: 100;
	font-size: 1em;
	color: antiquewhite;
}

.who-i-am {
	text-align: center;
	margin: 0;
	padding: 0.5em 1em;
}

.p-info {
	padding: 1em 0.5em;
	text-align: center;
	color: antiquewhite;
	font-weight: 100;
	font-size: 1em;
}



/*--------------------------resume/skills content---*/

#section-resume {
	background: url(images/timj-ots0EOYuGtU-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	box-sizing: border-box;
}

.resume-page {
	width: 100%;
}

.work-history {
	padding: 6em 3em;
}

.work-title {
	padding-top: 0.5em;
	padding-bottom: 1em;
	font-weight: 600;
}

.work-name {
	font-family: gotu, sans-serif;
	font-weight: 600;
	font-size: 1em;
	padding-top: 0.7em;
	padding-bottom: 1em;
}

.work-position {
	padding: 0;
	font-family: gotu, sans-serif;
}

.timeline-item {
	padding: 1em 1.5em;
	position: relative;
	color: black;
	border-left: 1px solid;
	box-sizing: border-box;
}

.timeline-item:before {
	content: attr(data-dates);
	position: absolute;
	left: 2em;
	top: 3em;
	display: block;
	font-weight: 500;
	font-size: 0.8em;
}

.timeline-item:after {
	width: 12px;
	height: 12px;
	display: block;
	top: 2.4em;
	position: absolute;
	left: -6px;
	border-radius: 12px;
	content: '';
	background: black;
}

.skills-item {
	margin: 0;
	padding-top: 5em;

}

.language-skills,
.pc-skills {
	font-family: roboto, sans-serif;

}

.item {
	text-align: center;
	font-family: gotu, sans-serif;
	font-weight: 600;
	padding-top: 3em;
}

.social-item {
	font-family: roboto, sans-serif;
}

.progress {
	position: relative;
	height: 25px;
	margin-top: 4px;
}

.progress-type {
	position: absolute;
	left: 0px;
	font-weight: 400;
	padding: 3px 30px 2px 10px;
	color: black;
	background-color: rgba(25, 25, 25, 0.1);
}



/*--------------------------education content---*/
.education-section {
	background-color: antiquewhite;
}

.education-image img {
	height: flex;
	width: 100%;
	padding: 0.5em 0.5em;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.education-title {
	font-family: gotu, sans-serif;
	height: 3em;
	padding-top: 1em;
	font-weight: 700;
	font-size: 2em;
	color: black;
	background-color: rgba(25, 25, 25, 0.2);
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.uppercase {
	text-transform: uppercase;
}

.education-item {
	text-align: center;
	color: black;
	font-family: gotu, sans-serif;
	font-size: 1.5em;
	font-weight: 600;
}

/*--------------------------contact content---*/

.contact-page {
	box-sizing: border-box;
	background-color: darkgray;
	position: relative;
}

.contact-heading {
	padding-top: 6em;
	font-weight: 600;
	font-size: 2em;
}

.contact-form-text {
	padding-top: 0.5;
	text-transform: capitalize;
	font-weight: 300;
	font-size: 2em;
	color: antiquewhite;
	padding-bottom: 1em;
}

.center-form {
	padding-top: 10px;
	margin: 0 auto;
	max-width: 70%;
}

button[type="submit"] {
	margin-top: 25px;
	margin-bottom: 20px;
	color: antiquewhite;
	background-color: dimgray;
	font-size: 1.5em;
	font-family: roboto, sans-serif;
}

/*--------------------------cv-page footer---*/
footer {
	padding: 2em 1.5em;
	background-color: rgba(25, 25, 25, 0.05);
}

.footer-page,
.social-links {
	font-size: 1em;
	font-weight: 700;
	text-align: center
}

.download-text {
	text-align: center;
	font-family: gotu, sans-serif;
	font-weight: 500;
	font-size: 1em;
}

.download-cv i {
	font-size: 160%;
	margin: 1%;
	color: black;
}

.social-links i {
	font-size: 160%;
	margin: 1%;
	padding: 5%;
	color: antiquewhite;
}

/*--------------------------other style---*/
.key1,
.value1 {
	text-align: center;
	font-family: roboto, sans-serif;
}

.key1 {
	font-weight: 700;
	background-color: rgba(25, 25, 25, 0.2);
}

.dropdown {
	text-transform: uppercase;
	font-family: gotu, sans-serif;
	padding-top: 2em;
	text-align: center;
}

/*--------------------------responsive div---*/
